.App {
    min-height: 100vh;
    position: relative;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 17px;
}

.page {
    padding-bottom: 56px;
}

hr {
    color: $vm-secondary;
    opacity: 100%;
}

.button-18 {
    align-items: center;
    background-color: $vm-primary;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    min-height: 40px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    user-select: none;
}

.button-18:hover,
.button-18:focus {
    filter: brightness(.9);
    transition: 0.3s ease;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.delete-button {
    position: absolute;
    padding: 0px;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $vm-red;
    color: white;
    border: none;

    @media screen and (max-width: 900px) {
        top: -9px;
        right: -9px;
    }

    svg {
        vertical-align: 0;
        font-size: 40px
    }
}

.delete-button:active {
    background-color: $vm-red !important;
}

.delete-button:hover,
.delete-button:focus {
    background-color: $vm-red;
    color: white;
    border: none;
    filter: brightness(.9);
}

.delete-button.btn:focus-visible {
    background-color: $vm-red;
    border: none !important;
    outline: 0;
}

// .videomaker-btn-pink {
//     background-color: $pink_videomaker !important;
//     border-color: $pink_videomaker !important;

//     &:hover {
//         background-color: $pink_dark_videomaker !important;
//         border-color: $pink_dark_videomaker !important;
//     }
// }

// .button-videomaker {
//     font-size: 16px;
//     color: $black_videomaker;
//     font-weight: 600;
//     letter-spacing: 1px;
//     padding: 13px 20px 13px;
//     outline: 0;
//     border: 1px solid $black_videomaker;
//     cursor: pointer;
//     position: relative;
//     background-color: rgba(0, 0, 0, 0);
//     user-select: none;
//     -webkit-user-select: none;
//     touch-action: manipulation;
//     border-radius: 0.375rem;
// }

// .button-videomaker:after {
//     content: "";
//     background-color: lightgray;
//     width: 100%;
//     z-index: -1;
//     position: absolute;
//     height: 100%;
//     top: 7px;
//     left: 7px;
//     transition: 0.2s;
//     border-radius: 0.375rem;
// }

// .button-videomaker:hover:after {
//     top: 0px;
//     left: 0px;
//     box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
// }

// @media (min-width: 768px) {
//     .button-videomaker {
//         padding: 13px 50px 13px;
//     }
// }

// .button-videomaker-blue:after {
//     background-color: $blue_videomaker;
// }

// .button-videomaker-pink:after {
//     background-color: $pink_videomaker
// }