@import 'colorsVideomaker';

.edit-wrapper {
    height: 50vh;
    margin-top: 10px;
    margin-bottom: 10px;

    @media screen and (min-width: 2500px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.edit-left {
    background-color: lightgrey;
    border-right: 1px solid $black_videomaker;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .current-slide-wrapper {
        aspect-ratio: 16/9;
        background-color: $black_videomaker;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;

        .current-slide-image {
            height: 100%;
        }
    }
}

.edit-right {
    background-color: lightgrey;
    height: 100%;
    padding: 12px;

    hr {
        margin: 8px 0;
    }

    .transition-img {
        width: 160px;
        margin-top: 8px;
    }

    @media screen and (min-width: 2500px) {
        padding: 30px
    }
}

.sortable-slides-description {
    margin-bottom: 10px;

}

.sortable-slides-row {
    display: flex;
    flex-direction: row;
    user-select: none;
    margin-bottom: 10px;
}

.sortable-slide-wrapper {
    cursor: grab;

    .sortable-slide {
        border-radius: 0;

        .sortable-slide-image {
            object-fit: cover;
            height: 100px;
            border: 1px solid gray;
            margin: 2px;
        }

        .card-footer {
            font-size: 12px;
            padding: 4px 16px;
        }

        .sortable-slide-delete-button {
            position: absolute;
            padding: 0px;
            top: 2px;
            right: 2px;
            border-radius: 0;
            width: 40px;
            height: 40px;
            opacity: 50%;

            &:hover {
                opacity: 75%;
            }

            svg {
                vertical-align: 0;
                font-size: 40px
            }
        }
    }
}

.sortable-slide-dragged {
    pointer-events: none;

    & .sortable-slide-delete-button {
        display: none;
    }
}

.form-range {
    position: relative;
    top: 5px;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: $blue_videomaker;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: $blue_videomaker;
        cursor: pointer;
    }
}

.form-check-input:checked {
    background-color: $blue_videomaker;
    border-color: $blue_videomaker;
}

.slide-settings-submit {
    background-color: $blue_videomaker;
    border-color: $blue_videomaker;
}

.waiting-loading {
    max-width: none;
    display: flex;
    justify-content: center;
    width: 46%;

    .modal-content {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            height: 75%;
        }

        button {
            background-color: $pink_videomaker;
            border-color: $pink_videomaker;
        }
    }
}

.modal-open {
    padding: 0 !important;
}