@import 'colorsVideomaker';



.edit-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    @media screen and (min-width: 992px) {
        flex-direction: row;
        height: 363.94px;
    }


    @media screen and (min-width: 2500px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.edit-left {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 992px) {
        width: 50%;
        border-right: 1px solid $gray_dark_videomaker;
    }

    .current-slide-wrapper {
        aspect-ratio: 16/9;
        background-color: $black_videomaker;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;

        .current-slide-image {
            height: 100%;
        }
    }
}

.edit-right {
    background-color: lightgrey;
    height: 100%;
    padding: 12px;
    width: 100%;

    hr {
        margin: 8px 0;
    }

    .transition-img {
        width: 160px;
        height: 85px;
        margin-top: 2px;
    }

    @media screen and (min-width: 992px) {
        width: 50%;
    }

    @media screen and (min-width: 2500px) {
        padding: 13px 30px;
    }
}

.form-range {
    position: relative;
    top: 5px;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: $blue_videomaker;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: $blue_videomaker;
        cursor: pointer;
    }
}

.form-check-input:checked {
    background-color: $blue_videomaker;
    border-color: $blue_videomaker;
}

.form-select:focus,
.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(28 69 135 / 25%);
    border-color: rgb(28 69 135 / 25%);
}

.form-label {
    font-weight: bold;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }
}

.transition-wrapper {
    width: 100%;
    border-bottom: 1px solid $gray_dark_videomaker;
    padding-bottom: 12px;

    @media screen and (min-width: 992px) {
        width: 50%;
        height: 191px;
        padding-right: 12px;
        padding-bottom: 0;
        border-right: 1px solid $gray_dark_videomaker;
        border-bottom: 0;
    }
}

.soundtrack-wrapper {
    width: 100%;
    padding-top: 12px;

    @media screen and (min-width: 992px) {
        width: 50%;
        padding-left: 12px;
        padding-top: 0;
    }
}

.sortable-slides-description {
    margin-bottom: 10px;

}

.sortable-slides-row-wrapper {
    overflow: auto;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sortable-slides-row-wrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.sortable-slides-row-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.sortable-slides-row-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.541);
}

.sortable-slides-row-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.sortable-slides-row-wrapper::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.733);
}

.sortable-slides-row {
    display: flex;
    flex-direction: row;
    user-select: none;
    // margin-bottom: 10px;

    width: fit-content;
    min-width: 100%;
    --background: rgba(0, 0, 0, .35);
    --size: 10px;
    background-image:
        linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
    background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
    background-repeat: repeat-x;
    background-position: 0 var(--size), top left, 0 calc(100% - var(--size)), bottom left, 0 var(--size);

    padding: calc((var(--size) * 3)) 0 calc((var(--size) * 3)) 0;
}

.sortable-slide-wrapper {
    cursor: grab;

    .sortable-slide {
        border-radius: 0;
        background-color: #d3d3d3;

        .sortable-slide-image {
            object-fit: cover;
            height: 100px;
            margin: 2px;
        }

        .card-footer {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: #d3d3d300;
            font-size: 25px;
            text-align: center;

            span {
                color: transparent;
            }
        }

        .card-footer:hover {
            background-color: #d3d3d394;

            span {
                width: 100%;
                color: #00000082;
            }
        }

        .sortable-slide-delete-button {
            z-index: 2;
            position: absolute;
            padding: 0px;
            top: 2px;
            right: 2px;
            border-radius: 0;
            width: 40px;
            height: 40px;
            opacity: 50%;

            &:hover {
                opacity: 75%;
            }

            svg {
                vertical-align: 0;
                font-size: 40px
            }
        }
    }
}

.sortable-slide-dragged {
    pointer-events: none;

    & .sortable-slide-delete-button {
        display: none;
    }
}

.waiting-loading {
    max-width: none;
    display: flex;
    justify-content: center;
    width: 46%;


    .modal-content {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;

        img {
            height: 75%;
        }

        button {
            background-color: $pink_videomaker;
            border-color: $pink_videomaker;
        }
    }

    @media screen and (max-width: 994px) {
        width: 96%;
    }
}

.modal-open {
    padding: 0 !important;
}

.create-video-btn {
    margin-left: 42%;
    margin-bottom: 50px;

    @media screen and (max-width: 994px) {
        margin-left: 30%;
    }
}