@import 'colorsVideomaker';

.dropzone-wrapper {
	border: 2px dotted #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 2rem 1.25rem;
}

.images-wrapper {
	padding-top: 35px;
	padding-bottom: 35px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	margin-top: 35px;

	@media screen and (max-width: 900px) {
		margin-top: 15px;
		padding: 15px 0;
	}
}

.image-grid {
	@media screen and (max-width: 900px) {
		margin-left: 0;
		margin-right: 0;
	}
}

.image-grid-card-wrapper {
	.card {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		border: 0;
	}

	@media screen and (max-width: 900px) {
		padding: 0 5px;
	}
}

.image-body {
	object-fit: cover;
	aspect-ratio: 1;
	border-radius: inherit;
}

.delete-button {
	position: absolute;
	padding: 0px;
	top: -15px;
	right: -15px;
	border-radius: 50%;
	width: 40px;
	height: 40px;

	@media screen and (max-width: 900px) {
		top: -9px;
		right: -9px;
	}

	svg {
		vertical-align: 0;
		font-size: 40px
	}
}

.how-to {
	width: 100%;
	margin-bottom: 35px;
	margin-top: 35px;

	img {
		width: 30%;
	}

	ol {
		font-size: 26px;
		text-align: left;
	}

	@media screen and (max-width: 900px) {
		margin-top: 15px;

		.how-to-instruction {
			flex-direction: column;

			img {
				width: 70%;
			}

			ol {
				font-size: 20px;
			}
		}
	}
}