@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: url('../../../../src/assets/scss/fonts/gilroy/Gilroy-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../../../../src/assets/scss/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-LightItalic';
    src: url('../../../../src/assets/scss/fonts/gilroy/Gilroy-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../../../../src/assets/scss/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../../../../src/assets/scss/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}